$primary: #25f158;
$secondary-lighter: #37373d;
$secondary: #2b2b2e;
$secondary-darker: #201f1f;
$tertiary: #2589fa;
$gray: #646464;

* {
    padding: 0;
    margin: 0;
    font-family: 'Shippori Antique', sans-serif;
    color: $secondary;
}

.app {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "sidepanel infopanel";
}

.sidePanel {
    padding: 0 16px;
    padding-top: 16px;
    background-color: $secondary;
    color: white;

    h1,
    p,
    label {
        color: white;
    }
}

.form {

    label {
        margin-bottom: 0px;
        font-size: .90rem;
    }

    input {

        width:calc(100% - (8px * 2));
        background-color: $secondary-darker;
        color: white;

        margin-top: 4px;
        border: none;
        border-radius: 5px;
        padding: 10px 8px;
        transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);

        &:focus {
            box-shadow: $tertiary 0px 0px 0px 2px;
        }
    }

    * {
        display: block;
        margin: 12px 0px;
    }

    button {
        margin-top: 24px;

        background-color: $primary;
        width: 100%;

        padding: 12px 40px;
        border: none;
        box-shadow: $tertiary 0px 0px 0px 0px;
        border-radius: 10px;
        transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            background-color: lighten($primary, 10%);
            color: lighten($secondary, 10%);
        }

        &:focus {
            box-shadow: $tertiary 0px 0px 0px 2px;
        }
    }
}

.infoPanel {

    padding: 0 16px;

    background-color: $secondary-lighter;
    color: white;

    * {
        color: inherit;
    }

    h2 {
        padding-top: 20px;
        padding-bottom: 5px;
    }
}